@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.section_one{
  background-color: rgb(63, 166, 108);
  position: relative;
  padding: 250px 0px;
  .cloud{
    background: url(/main/bottom-bg.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
  h1{
    font-weight: 700;
  }
  p{
    color: white;
    opacity: 0.8;
  }
}
.section_two{
  img{
    transition: 0.3s;
  }
  .img_container {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  .img_badge {
    position: absolute;
    background: white;
    color: rgb(108, 107, 107);
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  .badge_top_left {
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: oklch(92.5% .084 155.995);
    border-radius: 25px;
    z-index: -1;
  }
  .badge_bottom_right {
    bottom: 10px;
    right: 10px;
  }
  .card_padding{
    padding: 40px 20px;
  }
  .icon{
    font-size: 25px;
  }
  .card{
    padding: 5px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px !important;
    position: relative;
    transition: 0.3s;
    top: 0;
    border: 0 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_green{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(72.3% .219 149.579),oklch(62.7% .194 149.214));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_green2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(62.7% .194 149.214),oklch(52.7% .154 150.069));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_emerald{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(69.6% .17 162.48),oklch(59.6% .145 163.225));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_teal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(70.4% .14 182.503),oklch(60% .118 184.704));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  h1{
    font-size: 55px;
  }
  p{
    font-size: 20px;
  }
  .container{
    padding-left: 200px;
    padding-right: 200px;
  }
  .title{
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
  }
}
.section_three{
  h1{
    font-weight: 700;
    font-size: 45px;
  }
  p{
    font-size: 23px;
    font-size: 50px;
  }
  .num{
    font-weight: 700;
    font-size: 50px;
    color: oklch(62.7% .194 149.214);
    transition: 0.3s;
  }
  .title{
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 20px;
    transition: 0.3s;
  }
  padding-top: 80px;
  padding-bottom: 80px;
  .margin{
    padding: 0 !important;
  }
  .cards{
    transition: 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px !important;
  }
  .cards:hover{
    scale: 103%;
  }
  .card{
    padding: 30px !important;
    border-radius: 0px !important;
    position: relative;
    transition: 0.3s;
    top: 0;
    border: 0 !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card:hover{
    background: oklch(97.9% .021 166.113);
  }
  .card:hover .num{
    scale: 120%;
  }
  .card:hover .img_badge{
    opacity: 1;
  }
  .iconarea{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background: linear-gradient(to right,oklch(79.2% .209 151.711), oklch(69.6% .17 162.48));
    color: white;
    font-size: 45px;
    display: inline-block;
  }
  .img_badge {
    position: absolute;
    opacity: 0;
    transition: 1s;
  }
  .badge_top_left {
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    background-color: rgb(65, 210, 65);
    border-radius: 50%;
  }
  .badge_bottom_right {
    bottom: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: rgb(65, 210, 65);
    border-radius: 50%;
  }
}
.section_four{
  img{
    transition: 0.3s;
  }
  .img_container {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  .img_badge {
    position: absolute;
    background: white;
    color: rgb(108, 107, 107);
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  .badge_top_left {
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: oklch(92.5% .084 155.995);
    border-radius: 25px;
    z-index: -1;
  }
  .badge_bottom_right {
    bottom: 10px;
    right: 10px;
  }
  .card_padding{
    padding: 40px 20px;
  }
  .icon{
    font-size: 25px;
  }
  .card{
    padding: 5px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px !important;
    position: relative;
    transition: 0.3s;
    top: 0;
    border: 0 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_green{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(72.3% .219 149.579),oklch(62.7% .194 149.214));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_green2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(62.7% .194 149.214),oklch(52.7% .154 150.069));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_emerald{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(69.6% .17 162.48),oklch(59.6% .145 163.225));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .iconarea_teal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,oklch(70.4% .14 182.503),oklch(60% .118 184.704));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  h1{
    font-size: 55px;
  }
  p{
    font-size: 23px;
  }
  .container{
    padding-left: 200px;
    padding-right: 200px;
  }
  .title{
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
  }
  .button{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 17px 34px;
    background: linear-gradient(to right,oklch(72.3% .219 149.579),oklch(62.7% .194 149.214));
    color: white;
    font-weight: 700;
    transition: 0.3s;
  }
  .button:hover{
    scale: 105%;
    transition: 0.3s;
    background: linear-gradient(to right,oklch(62.7% .194 149.214),oklch(52.7% .154 150.069))
  }
}
.section_five{
  .title{
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
  }
  .title::after {
    content: "";
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    width: 100px;        
    height: 4px;
    background: green;
  }
  margin-top: 100px;
  margin-bottom: 100px;
  img{
    transition: 0.3s;
  }
  .img_container {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  .img_container:hover img{
    scale: 105%;
  }
  .img_container:hover .video{
    opacity: 100;
  }
  .img_badge {
    position: absolute;
    background: white;
    color: rgb(108, 107, 107);
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  .badge_top_left {
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: oklch(92.5% .084 155.995);
    border-radius: 25px;
    z-index: -1;
  }
  .badge_bottom_right {
    bottom: 10px;
    right: 10px;
  }
  .circle{
    color: green;
    margin-right: 5px;
  }
  .video{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(50%,50%);
    background: white;
    transition: 0.3s;
    opacity: 0;
    color: green;
    font-size: 20px;
  }
  .icon{
    font-size: 20px;
    font-weight: 700;
  }
  .card{
    padding: 5px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0px !important;
    position: relative;
    transition: 0.1s;
    top: 0;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .card:hover{
    border-left: 4px solid rgb(50, 196, 50);
  }
  .iconarea_green{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right,oklch(62.7% .194 149.214),oklch(52.7% .154 150.069));
    font-size: 35px;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.section_six{
  padding-top: 80px;
  padding-bottom: 80px;
  .card{
    padding: 40px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px !important;
    position: relative;
    transition: 0.5s ease;
    top: 0;
    border: 0 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title{
    transition: 0.5s;
  }
  h5{
    font-size: 25px;
    font-weight: 650;
  }
  .card:hover{
    scale: 105%;
  }
  .card:hover .title{
    color: oklch(52.7% .154 150.069);
  }
  
  .iconarea{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    color: oklch(59.6% .145 163.225);
    font-size: 60px;
    display: inline-block;
    margin-bottom: 24px;
    transition: 0.3s;
  }

  .card:hover .iconarea{
    color: oklch(52.7% .154 150.069);
  }
}
.section_seven{
  h2{
    font-size: 40px;
    font-weight: 700;
  }
  img{
    transition: 0.3s;
    cursor: pointer;
    width: 150px;
    height: 150px;
  }
  img:hover{
    scale: 110%;
  }
}